html, body {
font-size: 18px;
line-height: 1.5;
box-sizing: inherit;
background-image: url("Pictures/BG1.png");
}

*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}

.about-section{
    background: url("ECC2.jpg") no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 25px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}

-white, .-hover-white:hover {
    color:  black;
    background-image: url("Pictures/Light.jpg");
}
.-button:hover {
    color: #000;
    background-color: #ccc;
}
.-bar-item, .-button, .home{
    margin-left: 20px;
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.woww{
    text-decoration: none;
    color: white;
    float: left;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.woww:hover {
    background-color: rgba(0, 136, 169, 0.8);
    transform: translateY(-10px);
}
.-btn, .-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.-padding {
    padding: 20px 16px;
}
.-bar {
    width: 100%;
    overflow: hidden;
}
.-wide {
    letter-spacing: 4px;
}
.-bar .-button {
    white-space: normal;
}
.-bar .-bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
}
b, strong {
    color: rgb(255, 255, 255);
    font-weight: bolder;
    background-color: #000;
    letter-spacing: 2px;
}
.-right {
    float: right;
}
